<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Albums</title>
</head>
<body>
<h1>Albums</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Song Count</th>
    <th>Length (seconds)</th>
    <th>Image</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="album : ${albums}">
    <td th:text="${album.title}"></td>
    <td th:text="${album.artist}"></td>
    <td th:text="${album.songCount}"></td>
    <td th:text="${album.length}"></td>
    <td th:text="${album.imageUrl}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
