<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Albums</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1 class="title" >Albums</h1>
<table>
  <thead>
  <tr>
    <th class="main">Title</th>
    <th class="main">Artist</th>
    <th class="main">Song Count</th>
    <th class="main">Length (seconds)</th>
    <th class="main">Image</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="album : ${albums}">
    <td th:text="${album.title}"></td>
    <td th:text="${album.artist}"></td>
    <td th:text="${album.songCount}"></td>
    <td th:text="${album.length}"></td>
    <td><img th:src="${album.imageUrl}" alt="Album Image" width="100" height="100" /></td>
    </tr>
  </tbody>
</table>
</body>
</html>
